$roboto-font-path: '~materialize-css/fonts/roboto/';
@import "~materialize-css/sass/materialize.scss";

html, body, .app, .app-container {
  height: 100%;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.login {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.side-nav {
  width: 220px;
  transform: translateX(0) !important;
}

.login .hint, .register .hint {
  color: #aaa;
}

.login-error {
  color: red;
}

.register .hint, .register .hint {
  color: #aaa;
}

.register-error {
  color: red;
}

.subheaderbutton {
  font-size: 1.5em !important;
}

.userView .background {
  background-color: #26a69a;
}
.subheaderrow {
  margin-top: 0px;
  margin-bottom: 0px;
}
.subheaderinput {
  padding-right: 0px !important;
  button {
    height: 48px !important;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .input-field {
    margin-top: 0px;
    margin-bottom: 0px;
    input {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.spinner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0,0,0,0.5);
  display: none;

}

.spinner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.dashboard {
  width: calc(100% - 240px) !important;
  margin-left: 230px;
  margin-bottom: 70px;
}
.input-row {
  width: 86%;
}
.messageWrapper {
  margin-bottom: 50px;
}

.title .timestamp {
  margin-left: 5px;
}
.chatform {
  height: 65px;
  position: fixed; 
  bottom: 0; 
  width: calc(100% - 220px) !important;
  background-color: #fafafa;
  margin-bottom: 0px;
}
.chatformbtn {
  float: right;
  position: absolute;
  margin-left: 5px;
}
